{% extends 'base.html.twig' %}

{% block title %}Edit your account{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Edit your profile</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Edit your account</button>

        {{ form_end(form) }}
    </div>

{% endblock %}