{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-3 mb-4 text-warning">Our Events</h1>
        <div class="row">
            {% for event in events %}
                {% if app.user and app.user == event.author %}
                    {% include 'event/_event.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
